div.editor {
	width: 100%;
	height: 50%;
}

.darkGreenInput {
	color: #FFF;
	background-color: rgba(0, 20, 0, 0.7);
}

.seaGreenText {
	color: #2E8B57;
    text-shadow: 0 0 7px black;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #2E8B57;
    border-color: #2E8B57;
}
